<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head> 
	<body>
			<th:block th:fragment="codeMg">
				<!-- 조회 조건 -->
				<div class="card">
				  	<div class="card-body">
				  		<div class="row">
					   		<div class="col-10 row">
								<div class="col-4 row">
									<label for="inCommCdNm" class="col-4 col-form-label text-right">코드명</label>
			    					<input type="text" class="col-8 form-control enter-start" id="inCommCdNm">
								</div>
								<div class="col-4 row">
									<label for="inUseYn" class="col-6 col-form-label text-right">사용여부</label>
							      	<select class="col-6 form-control change-start" id="inUseYn">
							        	<option value="" selected>전체</option>
							        	<option value="Y">사용</option>
							        	<option value="N">미사용</option>
							      	</select>
								</div>
							</div>
							<div class="col-2">
								<div class="col text-right">
									<button type="button" class="btn btn-primary inqr-run" onclick="fnGet()"><span data-feather="search"></span>조회</button>
								</div>
							</div>
				  		</div>
				  	</div>
				</div>
			<br>	
				<!-- 테이블 -->
				<div class="card">
				  	<h6 class="card-header">
				  		코드 목록
				  	</h6>
				  	<div class="card-body">
				  		<table class="table table-sm table-hover table-bordered" id="tableSysCode">
							<thead class="table-light">
								<tr>
									<th class="text-center">No</th>
									<th class="text-center">코드아이디</th>
									<th class="text-center">코드명</th>
									<th class="text-center">사용여부</th>
									<th class="text-center">부속코드명</th>
									<th class="text-center">부속코드사용여부</th>
									<th class="text-center">하위 코드 수</th>
								</tr>
							</thead>
						</table>
				  	</div>
				  	<div class="card-footer text-right">
					  	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalCode">공통코드 등록 및 수정</button>
				  	</div>
				</div>
			<br>
				<!-- 테이블 -->
				<div class="card">
				  	<h6 class="card-header">
				  		코드 상세 목록
				  	</h6>
				  	<div class="card-body">
				  		<table class="table table-sm table-hover table-bordered" id="tableSysCodeDt">
							<thead class="table-light">
								<tr>
									<th class="text-center">No</th>
									<th class="text-center">코드아이디</th>
									<th class="text-center">코드값</th>
									<th class="text-center">코드값명</th>
									<th class="text-center">부속코드값</th>
									<th class="text-center">사용여부</th>
								</tr>
							</thead>
						</table>
				  	</div>
				  	<div class="card-footer text-right">
					  	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalCodeSort">공통코드 상세 정렬순서 변경</button>
				  	</div>
				</div>
			<br>
				<!-- 상세 정보 -->
				<div class="card">
				  	<h6 class="card-header">
				  		코드 상세 정보(<span id="grpCdId"></span>)
				  	</h6>
				  	<div class="card-body">
					  	<form id="formSysCodeDt">
					  		<div class="row">
		    					<input type="hidden" id="commCdIdDt" name="commCdId">
					  			<div class="col-4">
									<label for="cdVal"><span class="req">*</span>코드값</label>
			    					<input type="text" class="form-control form-control-sm" id="cdVal" name="cdVal">
								</div>
					  			<div class="col-4">
									<label for="cdValNm"><span class="req">*</span>코드값명</label>
			    					<input type="text" class="form-control form-control-sm" id="cdValNm" name="cdValNm">
								</div>
								<div class="col-4">
									<label for="useYnDt"><span class="req">*</span>사용여부</label>
			    					<div class="form-check">
									  	<input class="form-check-input" type="checkbox" id="useYnDt" onclick="EventUtils.checkBoxVal(this)">
									  	<label class="form-check-label" for="useYnDt">
									    	이 코드를 사용합니다.
									  	</label>
									</div>
								</div>
					  		</div>
					  	<hr>
					  		<div class="row">
					  			<div class="col-4">
									<label for="addtCdVal">부속코드값(<span id="grpAddtCdNm"></span>)</label>
			    					<input type="text" class="form-control form-control-sm" id="addtCdVal" name="addtCdVal">
								</div>
					  			<div class="col-4">
									<label for="sortOrd">정렬순서</label>
			    					<input type="text" class="form-control form-control-sm" id="sortOrd" name="sortOrd" disabled>
								</div>
					  		</div>
					  	<hr>
					  		<div class="row">
								<div class="col-4">
									<label for="cretDtmDt">등록일시</label>
			    					<input type="text" class="form-control form-control-sm" id="cretDtmDt" disabled>
								</div>
						  		<div class="col-4">
									<label for="updDtmDt">수정일시</label>
								  	<input type="text" class="form-control form-control-sm" id="updDtmDt" disabled>
								</div>
					  		</div>
					  	</form>
				  	</div>
				  	<div class="card-footer text-right">
					  	<button type="button" class="btn btn-secondary" id="btnInitDt" onclick="detail.fnDtlInit()">신규</button>
					  	<button type="button" class="btn btn-success"   id="btnInsDt"  onclick="detail.fnAjax(AjaxUtils.INS)">등록</button>
					  	<button type="button" class="btn btn-warning"   id="btnUpdDt"  onclick="detail.fnAjax(AjaxUtils.UPD)">수정</button>
					  	<button type="button" class="btn btn-danger"    id="btnDelDt"  onclick="detail.fnAjax(AjaxUtils.DEL)">삭제</button>
				  	</div>
				</div>
			<br>
<th:block th:include="/system/codeModal"></th:block>
<th:block th:include="/system/codeSortModal"></th:block>
			</th:block>

<th:block th:fragment="codeMgScript">
	<script th:inline="javascript">
		$(document).ready(function() {
			// 테이블 초기화
			DataTableUtils.init('#tableSysCode');
			DataTableUtils.init('#tableSysCodeDt');
			DataTableUtils.init('#tableSysCodeSort');
			
			// 상세 정보 초기화
			fnDtlInit();
			detail.fnDtlInit();
			
			// 테이블 클릭 함수
			$('#tableSysCode').on('click', 'tbody tr', function() {
				fnDtlInit();
				detail.fnDtlInit();
				
				var data = $('#tableSysCode').dataTable().fnGetData(this);
				if(StringUtils.isEmpty(data)) {
					return;
				}
				
				if(DataTableUtils.isSeleted('#tableSysCode', this)) {
					return;
				}
				
				fnDtlData(data);
				
				detail.fnGet(data);
				sort.fnGet(data);
			});
			
			// 테이블 클릭 함수
			$('#tableSysCodeDt').on('click', 'tbody tr', function() {
				detail.fnDtlInit();
				
				var data = $('#tableSysCodeDt').dataTable().fnGetData(this);
				if(StringUtils.isEmpty(data)) {
					return;
				}
				
				if(DataTableUtils.isSeleted('#tableSysCodeDt', this)) {
					return;
				}
				
				detail.fnDtlData(data);
			});
			
		});
		
		var detail = {
			// 초기화
			fnDtlInit : function() {
				$('#btnInsDt').attr('disabled', false);
				$('#btnUpdDt').attr('disabled', true);
				$('#btnDelDt').attr('disabled', true);
				
				// 공통코드 명
				$('#formSysCodeDt').find('#cdVal').val("");
				// 공통코드 정보
				$('#formSysCodeDt').find('#cdValNm').val("");
				// 부속코드 값
				$('#formSysCodeDt').find('#addtCdVal').val("");
				// 정렬순서
				$('#formSysCodeDt').find('#sortOrd').val("0");
				// 사용여부
				$('#formSysCodeDt').find('#useYnDt').val("Y").attr('checked', true);
				// 등록일시
				$('#formSysCodeDt').find('#cretDtmDt').val("");
				// 수정일시 
				$('#formSysCodeDt').find('#updDtmDt').val("");
			},
			// 테이블 선택
			fnDtlData : function(data) {
				$('#btnInsDt').attr('disabled', true);
				$('#btnUpdDt').attr('disabled', false);
				if(!StringUtils.isYn(data.useYn)) {
					$('#btnDelDt').attr('disabled', false);	
				} else {
					$('#btnDelDt').attr('disabled', true);	
				}
				
				// 공통코드 명
				$('#formSysCodeDt').find('#cdVal').val(data.cdVal);
				// 공통코드 정보
				$('#formSysCodeDt').find('#cdValNm').val(data.cdValNm);
				// 부속코드 값
				$('#formSysCodeDt').find('#addtCdVal').val(data.addtCdVal);
				// 정렬순서
				$('#formSysCodeDt').find('#sortOrd').val(data.sortOrd);
				// 사용여부
				$('#formSysCodeDt').find('#useYnDt').val(data.useYn).attr('checked', StringUtils.isYn(data.useYn));
				// 등록일시
				$('#formSysCodeDt').find('#cretDtmDt').val(data.cretDtm);
				// 수정일시 
				$('#formSysCodeDt').find('#updDtmDt').val(data.updDtm);
			},
			// 조회
			fnGet : function(data) {
				detail.fnDtlInit();
				DataTableUtils.get({
					tableId : "#tableSysCodeDt",
					url : "/system/code/detail" + AjaxUtils.SEL,
					param : {
						"commCdId": data.commCdId
					},
					columns: [
						{ "data": "rowNo"    , "class": "text-center"},
			            { "data": "commCdId" , "class": "text-center"},
			            { "data": "cdVal"    , "class": "text-center"},
			            { "data": "cdValNm"  , "class": "text-center"},
			            { "data": "addtCdVal", "class": "text-center"},
			            { "data": "useYn"    , "class": "text-center"}
			        ]
				});
			}, 
			// 등록, 수정, 삭제
			fnAjax : function(method) {
				// 입력값 확인.
				if(reqValCheckFail('#formSysCodeDt')) {
					return;
				} else if(StringUtils.isEmpty($('#commCdIdDt').val())) {
					alert("등록 할 공톤코드 그룹을 선택해주세요.");
					return;
				}
				// 삭제 전 확인.
				if(method == AjaxUtils.DEL && !confirm("해당 코드 상세 정보를 삭제 하시겠습니까?")) {
					return;
				}
				var obj = {
						url : "/system/code/detail"+method,
						param : AjaxUtils.getParam(
							"#formSysCodeDt",
							function() {},
							function(param) {
								param += "&useYn="+$('#formSysCodeDt').find('#useYnDt').val();
								return param; 
							}
						),
						funcOk : function(data) {
							DataTableUtils.refrash('#tableSysCodeDt');
						},
						funcErr : function(data) {}
				}
				AjaxUtils.run(obj);
			}
		}
		
		function reqValCheckFail(formId) {
			var isFail = false;
			var reqObj = $(formId).find('.req');
			$.each(reqObj, function(index, item) {
				var reqId   = $(reqObj).eq(index).parent().attr('for');
				var reqText = $(reqObj).eq(index).parent().text();
				if(StringUtils.isNotEmpty(reqId)) {
					if(StringUtils.isEmpty($('#'+reqId).val())) {
						alert(reqText + '은(는) 필수 입력 입니다.');
						$('#'+reqId).focus();
						isFail = true;
						return false;
					}
				}
			});
			return isFail;
		}
		
	</script>
</th:block>
	</body>
</html>




