<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head> 
	<body>
			<th:block th:fragment="mgrDeptMg">
				<!-- 조회 조건 -->
				<div class="card">
				  	<div class="card-body">
				  		<div class="row">
					   		<div class="col-10 row">
								<div class="col-4 row">
					   				<label for="inLocationId" class="col-4 col-form-label text-right">지역</label>
							      	<select class="col-8 form-control" id="inLocationId">
							        	<option value=0 selected>All</option>
							        	<option value=1000>Roma</option>
							        	<option value=1100>Venice</option>
							        	<option value=1200>Tokyo</option>
							        	<option value=1300>Hiroshima</option>
							      	</select>
								</div>
								<div class="col-4 row">
									<label for="inDepartmentName" class="col-4 col-form-label text-right">부서명</label>
			    					<input type="text" class="col-8 form-control" id="inDepartmentName">
								</div>
							</div>
							<div class="col-2">
								<div class="col text-right">
									<button type="button" class="btn btn-primary" onclick="fnGet()">조회</button>
								</div>
							</div>
				  		</div>
				  	</div>
				</div>
			<br>	
				<!-- 부서 테이블 -->
				<div class="card">
				  	<h5 class="card-header">부서목록</h5>
				  	<div class="card-body">
				  		<table class="table table-hover table-bordered" id="tableMgrDept">
							<thead class="table-light">
								<tr>
									<th class="text-center">No</th>
									<th class="text-center">부서번호</th>
									<th class="text-center">부서명</th>
									<th class="text-center">지역번호</th>
									<th class="text-center">지역명</th>
									<th class="text-center">관리자아이디</th>
									<th class="text-center">관리자명</th>
								</tr>
							</thead>
						</table>
				  	</div>
				</div>
			<br>
				<!-- 부서 상세 정보 -->
				<div class="card">
				  	<h5 class="card-header">
				  		부서 상세 정보
				  	</h5>
				  	<div class="card-body">
					  	<form id="formMgrDept">
					  		<div class="row">
					  			<div class="col-4">
									<label for="departmentId">부서번호</label>
			    					<input type="text" class="form-control form-control-sm" id="departmentId" name="departmentId" aria-describedby="departmentIdText">
			    					<small id="departmentIdText" class="form-text text-muted">
	  									부서번호는 숫자 4자리 입니다.
									</small>
								</div>
					  			<div class="col-4">
									<label for="departmentName">부서명</label>
			    					<input type="text" class="form-control form-control-sm" id="departmentName" name="departmentName">
								</div>
					  			<div class="col-4">
									<label for="test1">테스트1</label>
			    					<select class="form-control form-control-sm" id="test1">
									  	<option value="A" selected>A</option>
									  	<option value="B">B</option>
									  	<option value="C">C</option>
									</select>
								</div>
					  		</div>
					  	<hr>
					  		<div class="row">
					  			<div class="col-4">
					  				<label for="managerId">관리자ID/명</label>
						  			<div class="input-group">
									  	<div class="input-group-prepend">
									    	<button class="btn btn-sm btn-outline-secondary" type="button" onclick="fnGetMgrEmp()">검색</button>
									  	</div>
									  	<input type="text" class="form-control form-control-sm text-right" id="managerId" name="managerId" readonly>
									  	<div class="input-group-append">
											<input type="text" class="form-control form-control-sm" id="managerName" name="managerName" readonly>
										</div>
									</div>
								</div>
					  			<div class="col-4">
					  				<label for="locationId">지역ID/명</label>
						  			<div class="input-group">
									  	<div class="input-group-prepend">
									    	<button class="btn btn-sm btn-outline-secondary" type="button" onclick="fnGetLocation()">검색</button>
									  	</div>
									  	<input type="text" class="form-control form-control-sm text-right" id="locationId" name="locationId" readonly>
									  	<div class="input-group-append">
											<input type="text" class="form-control form-control-sm" id="locationName" name="locationName" readonly>
										</div>
									</div>
								</div>
					  			<div class="col-4">
									<label for="test2">사용여부</label>
			    					<div class="form-check">
									  	<input class="form-check-input" type="checkbox" id="test2" onclick="EventUtils.checkBoxVal(this)">
									  	<label class="form-check-label" for="test2">
									    	이 부서를 사용합니다.
									  	</label>
									</div>
								</div>
	  						</div>
					  	</form>
				  	</div>
				  	<div class="card-footer text-right">
				  		<div class="btn-group" role="group">
						  	<button type="button" class="btn btn-secondary" onclick="fnDtlInit()">신규</button>
						  	<button type="button" class="btn btn-success"   onclick="fnAjax(AjaxUtils.INS)">등록</button>
						  	<button type="button" class="btn btn-warning"   onclick="fnAjax(AjaxUtils.UPD)">수정</button>
						  	<button type="button" class="btn btn-danger"    onclick="fnAjax(AjaxUtils.DEL)">삭제</button>
						</div>
				  	</div>
				</div>
			<br>
			</th:block>
			

<th:block th:fragment="mgrDeptMgScript">
	<script>
		$(document).ready(function() {
			DataTableUtils.init('#tableMgrDept');
			
			fnDtlInit();
			
			$('#tableMgrDept').on('click', 'tr', function() {
				fnDtlInit();
				
				var data = $('#tableMgrDept').dataTable().fnGetData(this);
				if(StringUtils.isEmpty(data)) {
					return;
				}
				
				fnDtlData(data);
			});
			
		});
		// 조회
		function fnGet() {
			fnDtlInit();
			// alert("부서 검색");
			DataTableUtils.get({
				tableId : "#tableMgrDept",
				url : "/mgr/dept",
				param : {
					"departmentName" : $('#inDepartmentName').val(),
					"locationId"     : $('#inLocationId').val()
				},
				columns: [
		            { "data": "rowNo"         , "class": "text-center"},
		            { "data": "departmentId"  , "class": "text-center"},
		            { "data": "departmentName", "class": "text-left"  },
		            { "data": "locationId"    , "class": "text-center"},
		            { "data": "locationName"  , "class": "text-left"  },
		            { "data": "managerId"     , "class": "text-center"},
		            { "data": "managerName"   , "class": "text-left"  }
		        ]
			});
			
		}
		// 값 설정
		function fnDtlData(data) {
			// 부서 번호
			$('#formMgrDept').find('#departmentId').val(data.departmentId).attr('disabled', true);
			// 부서 명
			$('#formMgrDept').find('#departmentName').val(data.departmentName);
			// 관리자ID/명
			$('#formMgrDept').find('#managerId').val(data.managerId);
			$('#formMgrDept').find('#managerName').val(data.managerName);
			// 지역ID/명
			$('#formMgrDept').find('#locationId').val(data.locationId);
			$('#formMgrDept').find('#locationName').val(data.locationName);
			// 사용여부
			if(data.test2 == 'Y') {
				$('#formMgrDept').find('#test2').val("Y").attr('checked', true);	
			} else {
				$('#formMgrDept').find('#test2').val("N").attr('checked', false);
			}
			
		}
		// 초기화
		function fnDtlInit() {
			// 부서 번호
			$('#formMgrDept').find('#departmentId').val("").attr('disabled', false);
			// 부서 명
			$('#formMgrDept').find('#departmentName').val("");
			// 관리자ID/명
			$('#formMgrDept').find('#managerId').val("");
			$('#formMgrDept').find('#managerName').val("");
			// 지역ID/명
			$('#formMgrDept').find('#locationId').val("");
			$('#formMgrDept').find('#locationName').val("");
			// 사용여부
			$('#formMgrDept').find('#test2').val("Y").attr('checked', true);
		}
		
		// 등록, 수정, 삭제
		function fnAjax(method) {
			// alert("Method : " + method);
			var obj = {
					url : "/mgr/dept"+method,
					param : AjaxUtils.getParam(
						"#formMgrDept",
						function() {},
						function(param) { return param; }
					),
					funcOk : function(data) {},
					funcErr : function(data) {}
			}
			console.log(obj);
			AjaxUtils.run(obj);
		}
		// 사원 조회
		function fnGetMgrEmp() {
			alert("사원 검색");
		}
		// 지역 조회
		function fnGetLocation() {
			alert("지역 검색");
		}
	</script>
</th:block>
	</body>
</html>




