<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head> 
	<body>
			<th:block th:fragment="mgrMg">
				<!-- 조회 조건 -->
				<div class="card">
				  	<div class="card-body">
				  		<div class="row">
					   		<div class="col-10 row">
								<div class="col-4 row">
									<label class="col-4 col-form-label text-right" for="inMgrNm">이름</label>
			    					<input type="text" class="col-8 form-control enter-start" id="inMgrNm">
								</div>
								<div class="col-4 row">
									<label class="col-6 col-form-label text-right" for="inSysMgrStatCd">관리자 상태</label>
							      	<select class="col-6 form-control change-start" id="inSysMgrStatCd">
							        	<option value="" selected>전체</option>
							        	<option value="00">재직</option>
							        	<option value="99">퇴사</option>
							      	</select>
								</div>
							</div>
							<div class="col-2">
								<div class="col text-right">
									<button type="button" class="btn btn-primary inqr-run" onclick="fnGet()"><span data-feather="search"></span>조회</button>
								</div>
							</div>
				  		</div>
				  	</div>
				</div>
			<br>	
				<!-- 테이블 -->
				<div class="card">
				  	<h6 class="card-header">
				  		관리자 목록
				  	</h6>
				  	<div class="card-body">
				  		<table class="table table-sm table-hover table-bordered" id="tableSysMgr">
							<thead class="table-light">
								<tr>
									<th class="text-center">No</th>
									<th class="text-center">아이디</th>
									<th class="text-center">이름</th>
									<th class="text-center">상태</th>
									<th class="text-center">최근접속일시</th>
								</tr>
							</thead>
						</table>
				  	</div>
				</div>
			<br>
				<!-- 상세 정보 -->
				<div class="card">
				  	<h6 class="card-header">
				  		메뉴 상세 정보
				  	</h6>
				  	<div class="card-body">
					  	<form id="formSysMgr">
					  		<div class="row">
					  			<div class="col-4">
									<label for="mgrId"><span class="req">*</span>관리자아이디</label>
			    					<input type="text" class="form-control form-control-sm" id="mgrId" name="mgrId" aria-describedby="mgrIdText">
			    					<small id="mgrIdText" class="form-text text-muted">
	  									관리자아이디는 숫자 8자리 입니다.
									</small>
								</div>
					  			
					  			<div class="col-4">
					  				<label for="empId"><span class="req">*</span>사원아이디</label>
						  			<div class="input-group">
									  	<div class="input-group-prepend">
									    	<button data-target="#modalHrMenu" class="btn btn-sm btn-outline-secondary" type="button" data-toggle="modal">검색</button>
									  	</div>
									  	<input type="text" class="form-control form-control-sm text-right" id="empId" name="empId" style="min-width: 50px" readonly>
									  	<div class="input-group-append">
											<input type="text" class="form-control form-control-sm" id="mgrNm" readonly>
										</div>
									</div>
								</div>
								
					  			<div class="col-4 temp-pw-box">
					  				<label for="mgrPw">임시비밀번호</label>
						  			<div class="input-group">
									  	<div class="input-group-prepend">
									    	<button class="btn btn-sm btn-outline-secondary" type="button" onclick="getTempPw()">발급</button>
									  	</div>
									  	<input type="text" class="form-control form-control-sm text-right" id="mgrPw" name="mgrPw" disabled>
									</div>
								</div>
					  		</div>
					  	<hr>
					  		<div class="row">
								<div class="col-4">
									<label for="sysMgrStatCd"><span class="req">*</span>관리자 상태</label>
			    					<select class="form-control form-control-sm" id="sysMgrStatCd" name="sysMgrStatCd">
							        	<option value=00 selected>재직</option>
							        	<option value=99>퇴사</option>
									</select>
								</div>
								<div class="col-4">
									<label for="rcntAccDtm">최근접속일시</label>
			    					<input type="text" class="form-control form-control-sm" id="rcntAccDtm" name="rcntAccDtm" disabled>
								</div>
								<div class="col-4">
									<label for="tkIssDtm">토큰발급일시</label>
			    					<input type="text" class="form-control form-control-sm" id="tkIssDtm" name="tkIssDtm" disabled>
								</div>
					  		</div>
					  	<hr>
					  		<div class="row">
								<div class="col-4">
									<label for="pwErrCnt">비밀번호 오류 횟수</label>
			    					<input type="text" class="form-control form-control-sm text-right col-6" id="pwErrCnt" name="pwErrCnt" disabled>
								</div>
								<div class="col-4">
									<label for="pwChagDtm">비밀번호변경일시</label>
			    					<input type="text" class="form-control form-control-sm" id="pwChagDtm" name="pwChagDtm" disabled>
								</div>
								<div class="col-4">
									<label for="tempPwIssDtm">임시비번발급일시</label>
			    					<input type="text" class="form-control form-control-sm" id="tempPwIssDtm" name="tempPwIssDtm" disabled>
								</div>
					  		</div>
					  	<hr>
					  		<div class="row">
								<div class="col-4">
									<label for="cretDtm">등록일시</label>
			    					<input type="text" class="form-control form-control-sm" id="cretDtm" disabled>
								</div>
						  		<div class="col-4">
									<label for="updDtm">수정일시</label>
									<input type="text" class="form-control form-control-sm" id="updDtm" disabled>
								</div>
					  		</div>
					  	
					  	</form>
				  	</div>
				  	<div class="card-footer text-right">
					  	<button type="button" class="btn btn-secondary" id="btnInit" onclick="fnDtlInit()">신규</button>
					  	<button type="button" class="btn btn-success"   id="btnIns"  onclick="fnAjax(AjaxUtils.INS)">등록</button>
					  	<button type="button" class="btn btn-warning"   id="btnUpd"  onclick="fnAjax(AjaxUtils.UPD)">수정</button>
					  	<button type="button" class="btn btn-danger"    id="btnDel"  onclick="fnAjax(AjaxUtils.DEL)">삭제</button>
				  	</div>
				</div>
			<br>
			</th:block>
			

<th:block th:fragment="mgrMgScript">
	<script th:inline="javascript">
		$(document).ready(function() {
			// 테이블 초기화
			DataTableUtils.init('#tableSysMgr');
			
			// 상세 정보 초기화
			fnDtlInit();
			
			// 테이블 클릭 함수
			$('#tableSysMgr').on('click', 'tbody tr', function() {
				fnDtlInit();
				
				var data = $('#tableSysMgr').dataTable().fnGetData(this);
				if(StringUtils.isEmpty(data)) {
					return;
				}
				
				if(DataTableUtils.isSeleted('#tableSysMgr', this)) {
					return;
				}
				
				fnDtlData(data);
			});
		});
		// 조회
		function fnGet() {
			fnDtlInit();
			DataTableUtils.get({
				tableId : "#tableSysMgr",
				url : "/system/mgr" + AjaxUtils.SEL,
				param : {
					"mgrNm": $('#inMgrNm').val(),
					"sysMgrStatCd" : $('#inSysMgrStatCd').val()
				},
				columns: [
					{ "data": "rowNo"       , "class": "text-center"},
		            { "data": "mgrId"       , "class": "text-center"},
		            { "data": "mgrNm"       , "class": "text-left"  },
		            { 
						"data": "sysMgrStatCd", "class": "text-center",
						"render": function(data, type, row) {
							var statCd = data;
							if('00' == statCd) {
								return '재직'
							} else
							if('99' == statCd) {
								return '퇴직'
							}
							return data;
						}
					},
		            { "data": "rcntAccDtm"  , "class": "text-center", "format": "dtm"}
		        ]
			});
		}
		
		// 초기화
		function fnDtlInit() {
			$('#btnIns').attr('disabled', false);
			$('#btnUpd').attr('disabled', true);
			$('#btnDel').attr('disabled', true);
			
			// 관리자아이디
			$('#formSysMgr').find('#mgrId').val("").attr("disabled", true);
			// 사원아이디/괌리자명
			$('#formSysMgr').find('#empId').val("").attr("disabled", true);
			$('#formSysMgr').find('#mgrNm').val("").attr("disabled", true);
			// 임시비밀번호
			$('#formSysMgr').find('#mgrPw').val("");
			// 관리자상태코드
			$('#formSysMgr').find('#sysMgrStatCd').val("00");
			// 최근접속일시
			$('#formSysMgr').find('#rcntAccDtm').val("");
			// 토큰발급일시
			$('#formSysMgr').find('#tkIssDtm').val("");
			// 비밀번호오류횟수
			$('#formSysMgr').find('#pwErrCnt').val(0);
			// 비밀번호변경일시
			$('#formSysMgr').find('#pwChagDtm').val("");
			// 임시비밀번호발급일시
			$('#formSysMgr').find('#tempPwIssDtm').val("");
			// 등록일시
			$('#formSysMgr').find('#cretDtm').val("");
			// 수정일시 
			$('#formSysMgr').find('#updDtm').val("");
			
		}
		// 값 설정
		function fnDtlData(data) {
			$('#btnIns').attr('disabled', true);
			$('#btnUpd').attr('disabled', false);
			$('#btnDel').attr('disabled', false);	
			
			// 관리자아이디
			$('#formSysMgr').find('#mgrId').val(data.mgrId).attr("disabled", true);
			// 사원아이디/괌리자명
			$('#formSysMgr').find('#empId').val(data.empId).attr("disabled", true);
			$('#formSysMgr').find('#mgrNm').val(data.mgrNm).attr("disabled", true);
			// 임시비밀번호
			$('#formSysMgr').find('#mgrPw').val("");
			// 관리자상태코드
			$('#formSysMgr').find('#sysMgrStatCd').val(data.sysMgrStatCd);
			// 최근접속일시
			$('#formSysMgr').find('#rcntAccDtm').val(data.rcntAccDtm);
			// 토큰발급일시
			$('#formSysMgr').find('#tkIssDtm').val(data.tkIssDtm);
			// 비밀번호오류횟수
			$('#formSysMgr').find('#pwErrCnt').val(data.pwErrCnt);
			// 비밀번호변경일시
			$('#formSysMgr').find('#pwChagDtm').val(data.pwChagDtm);
			// 임시비밀번호발급일시
			$('#formSysMgr').find('#tempPwIssDtm').val(data.tempPwIssDtm);
			// 등록일시
			$('#formSysMgr').find('#cretDtm').val(data.cretDtm);
			// 수정일시 
			$('#formSysMgr').find('#updDtm').val(data.updDtm);
			
		}
		// 등록, 수정, 삭제
		function fnAjax(method) {
			// 입력값 확인.
			if(reqValCheckFail('#formSysMgr')) {
				return;
			// 상황에 따른 입력값.
			} else {
				if(method == AjaxUtils.INS && StringUtils.isEmpty($('#mgrPw').val())) {
					alert('임시비밀번호를 발급하여 주시기 바랍니다.');
					return;
				}
			}
			// 삭제 전 확인.
			if(method == AjaxUtils.DEL && !confirm("해당 관리자를 삭제 하시겠습니까?")) {
				return;
			}
			var obj = {
					url : "/system/menu"+method,
					param : AjaxUtils.getParam(
						"#formSysMgr",
						function() {},
						function(param) { return param; }
					),
					funcOk : function(data) {
						DataTableUtils.refrash('#tableSysMgr');
					},
					funcErr : function(data) {}
			}
			AjaxUtils.run(obj);
		}
		
		function getTempPw() {
			
			var pw = '';
			while(pw.length < 16) {	// 숫자, 대소문자 8자리.
				var random = Math.floor(Math.random()*100 + 48);
				// 48 -57, 65 - 90, 97 - 122
				if((47 < random && random < 58)		// 숫자
				 ||(64 < random && random < 91)		// 대문자
				 ||(97 < random && random < 122)	// 소문자
				) {
					pw += String.fromCodePoint(random);
				}
			}
			$('#formSysMgr').find('#mgrPw').val(pw);
			// alert('임시비밀번호가 발급되었습니다.');
		}
		
		function reqValCheckFail(formId) {
			var isFail = false;
			var reqObj = $(formId).find('.req');
			$.each(reqObj, function(index, item) {
				var reqId   = $(reqObj).eq(index).parent().attr('for');
				var reqText = $(reqObj).eq(index).parent().text();
				if(StringUtils.isNotEmpty(reqId)) {
					if(StringUtils.isEmpty($('#'+reqId).val())) {
						alert(reqText + '은(는) 필수 입력 입니다.');
						$('#'+reqId).focus();
						isFail = true;
						return false;
					}
				}
			});
			return isFail;
		}
	</script>
</th:block>
	</body>
</html>




