<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hjho.prj.prct.biz.main.mapper.MenuAuthMapper">

    <select id = "getMenuAuthHr" 
            parameterType = "hjho.prj.prct.biz.main.model.MenuAuthPVO" 
            resultType    = "hjho.prj.prct.biz.main.model.MenuAuthRVO">
        /* 상위 메뉴 */
        SELECT menu.menu_id 
             , menu.hr_menu_id 
             , menu.menu_nm 
             , menu.page_url 
             , menu.icon_val 
             , auth.read_auth_yn AS auth_yn
             , auth.cret_auth_yn
             , auth.read_auth_yn
             , auth.upd_auth_yn
             , auth.del_auth_yn
             , auth.expt_auth_yn
             , auth.priv_data_read_auth_yn
          FROM practice.sys_menu_info menu
         INNER JOIN practice.sys_mgr_auth auth
            ON menu.menu_id      = auth.menu_id 
         WHERE menu.use_yn       = 'Y'
           AND menu.menu_cd      = 'M'
           AND auth.mgr_grp_id   = #{mgrGrpId, jdbcType=VARCHAR}
           AND auth.read_auth_yn = 'Y'
         ORDER BY menu.ord_by_cls
    </select>
    
    <select id = "getMenuAuthLr" 
            parameterType = "hjho.prj.prct.biz.main.model.MenuAuthPVO" 
            resultType    = "hjho.prj.prct.biz.main.model.MenuAuthVO">
        /* 하위 메뉴 */
        SELECT menu.menu_id 
             , menu.hr_menu_id 
             , menu.menu_nm 
             , menu.page_url 
             , menu.icon_val 
             , auth.read_auth_yn AS auth_yn
             , auth.cret_auth_yn
             , auth.read_auth_yn
             , auth.upd_auth_yn
             , auth.del_auth_yn
             , auth.expt_auth_yn
             , auth.priv_data_read_auth_yn
          FROM practice.sys_menu_info menu
         INNER JOIN practice.sys_mgr_auth auth
            ON menu.menu_id    = auth.menu_id 
         WHERE menu.use_yn     = 'Y'
           AND menu.menu_cd    = 'P'
           AND menu.hr_menu_id = #{menuId  , jdbcType=VARCHAR}
           AND auth.mgr_grp_id = #{mgrGrpId, jdbcType=VARCHAR}
         ORDER BY menu.ord_by_cls
    </select>
    
    <select id = "getMgrAuth" 
            parameterType = "hjho.prj.prct.biz.main.model.MgrAuthPVO" 
            resultType    = "hjho.prj.prct.biz.main.model.MgrAuthRVO">
        /* 권한 조회 */
        SELECT mgr.mgr_id 
             , grp.mgr_grp_id 
             , menu.menu_id 
             , menu.menu_nm 
             , auth.cret_auth_yn 
             , auth.read_auth_yn 
             , auth.upd_auth_yn 
             , auth.del_auth_yn 
             , auth.priv_data_read_auth_yn 
             , auth.expt_auth_yn 
               FROM practice.sys_mgr            mgr
         INNER JOIN practice.sys_mgr_role       rol
            ON mgr.mgr_id     = rol.mgr_id
         INNER JOIN practice.sys_mgr_grp        grp
            ON grp.mgr_grp_id = rol.mgr_grp_id 
         INNER JOIN practice.sys_mgr_auth       auth
            ON grp.mgr_grp_id = auth.mgr_grp_id 
         INNER JOIN practice.sys_menu_info      menu
            ON auth.menu_id   = menu.menu_id 
         WHERE grp.use_yn     = 'Y'
           AND rol.use_yn     = 'Y'
           AND menu.use_yn    = 'Y'
           AND auth.use_yn    = 'Y'
           AND mgr.mgr_id     = #{mgrId   , jdbcType=VARCHAR}
           AND grp.mgr_grp_id = #{mgrGrpId, jdbcType=VARCHAR}
           AND menu.page_url  = #{pageUrl , jdbcType=VARCHAR}
    </select>
    
</mapper> 