<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="#">
	<!-- jQuery -->
	<script th:src="@{/js/jquery/jquery-3.6.0.min.js}" type="text/javascript"></script>
	<!-- Bootstrap -->
	<link th:href="@{/css/bootstrap-4.6.1/bootstrap.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-4.6.1/error.css}" rel="stylesheet" type="text/css"/>
	<title>오류 페이지</title>
</head>
<body class="text-center"> 
	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
		<div role="main" class="inner cover" style="margin-top: 150px;">
	    	<h2 class="cover-heading">
	    		알 수 없는 페이지 입니다.<br>
	    		해당 URL을 확인해주세요.
	    	</h2>
	        <p class="lead text-left">페이지 경로: [[${path}]]</p>
	        <p class="lead text-left">오류: [[${error}]]</p>
	        <p class="lead text-left">오류 코드: [[${status}]]</p>
	        <p class="lead text-left">오류 메시지: [[${message}]]</p>
	        <p class="lead text-left">발생 시간: [[${timestamp}]]</p>
	        <p class="lead">
	        	<a href="/main/page" class="btn btn-lg btn-secondary">메인 페이지 이동</a>
	        	<a href="/login/page" class="btn btn-lg btn-secondary">로그인 페이지 이동</a>
	        </p>
		</div>
	</div>
</body>
<script th:inline="javascript">
	var path      = /*[[${path}]]*/"";
	var error     = /*[[${error}]]*/"";
	var message   = /*[[${message}]]*/"";
	var errors    = /*[[${errors}]]*/"";
	var status    = /*[[${status}]]*/"";
	var timestamp = /*[[${timestamp}]]*/"";
	var exception = /*[[${exception}]]*/"";
</script>
</html>
