<!--------------------- START JOB HISTORY MODAL START ----------------------------->
<div class="modal fade" id="modalJobHs" tabindex="-1" role="dialog" aria-hidden="true">
 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title">직책 변경 히스토리</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
      			<div class="card">
				  	<div class="card-header">
				  		<span id="jobHsEmpNm"></span>(<span id="jobHsEmpNo"></span>) 사원의 변경 히스토리
				  	</div>
				  	<div class="card-body">
				  		<table class="table table-sm table-hover table-bordered" id="tableJobHs">
							<thead class="table-light">
								<tr>
									<th class="text-center">No</th>
									<th class="text-center">시작일시</th>
									<th class="text-center">종료일시</th>
									<th class="text-center">직책명</th>
									<th class="text-center">부서명</th>
								</tr>
							</thead>
						</table>
				  	</div>
				</div>
      		</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
	        	<button type="button" class="btn btn-primary" onclick="fnDelJobHs()">전체 삭제</button>
	      	</div>
    	</div>
  	</div>
</div>
<script th:inline="javascript">
	$(document).ready(function() {
		$('#modalJobHs').on('hidden.bs.modal', function (event) {
			$('#jobHsEmpNo').text("");
			$('#jobHsEmpNm').text("");
		});
	});
	// 조회
	function fnGetMgrJobHs(data) {
		
		$('#jobHsEmpNo').text(data.employeeId);
		$('#jobHsEmpNm').text(data.employeeName);
		
		DataTableUtils.get({
			tableId : "#tableJobHs",
			url : "/mgr/emp/job/hs",
			param : {
				"employeeId" : $('#jobHsEmpNo').text()
			},
			columns: [
	            { "data": "rowNo"         , "class": "text-center"},
	            { "data": "startDate"     , "class": "text-center", "format": "dtm"},
	            { "data": "endDate"       , "class": "text-center", "format": "dtm"},
	            { "data": "jobTitle"      , "class": "text-left" },
	            { "data": "departmentName", "class": "text-left" }
	        ]
		});
	}
	// 삭제
	function fnDelJobHs() {
		
		var jobHsEmpNo = $('#jobHsEmpNo').text();
		var jobHsEmpNm = $('#jobHsEmpNm').text();
		
		var message =  jobHsEmpNm + "(" +jobHsEmpNo+ ")";
		    message += "사원의 히스토리를 전체 삭제하시겠습니까?";
		if(confirm(message)) {
			// alert(jobHsEmpNo + ", " + jobHsEmpNm);
			var obj = {
					url : "/mgr/emp/job/hs/delete",
					param : {
						"employeeId" : jobHsEmpNo
					},
					funcOk : function(data) {
						$('#modalJobHs').modal('hide');
						DataTableUtils.refrash('#tableMgrEmp');
					},
					funcErr : function(data) {}
			}
			AjaxUtils.run(obj);
		}
	}
</script>
<!--------------------- END Job MODAL END ----------------------------->