/* 테이블 헤더  언더라인 */
table.dataTable thead th, table.dataTable thead td {
    background-color: #CCCCCC;
    border-bottom: 1px solid #FF9900;
}

/* 테이블 바디 언더라인 */
table.dataTable.no-footer {
    border-bottom: 1px solid #FF9900;
}

/* 테이블 선택 */
table.dataTable tbody tr.selected {
    background-color: #CCFF99;
}

/* INPUT 필수 입력값  */
span.req {
    color: red;
    font-weight: bold;
}

/* 검색 결과 없을 때 */
table.dataTable td.dataTables_empty, 
table.dataTable th.dataTables_empty {
	height: 100px;
    vertical-align: middle;
    color: red;
}

/* 재설정 Menu Font Up (main.css) */
.sidebar-heading {
  font-size: 1.0rem;
}

/* 메뉴 */
.card.menu {
	border: 0;
}
.card-header.menu {
	padding: 0;
	margin: 0;
}
/* 메뉴 제목 */
.menu-title {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* 메뉴 내용 */
.card-body.menu-body {
	padding: 0px;
}
/* 재설정 (main.css) */
.nav-link.disabled {
    color: #6c757d;
}

/* Main Page Back Ground Color 
.main-page {
	background-color: silver; 
}
*/