<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
			<th:block th:fragment="menu">
				<div class="sidebar-sticky pt-3">
					<div class="accordion" id="sideBarMenu">
<th:block th:each="menuBsVO : ${menuTree.menuBs}">
					  	<div class="card menu">
					    	<div class="card-header menu" 
					    	     th:id="|${menuBsVO.menuId}Mg|">
					    	
					      		<h5 data-toggle="collapse" class="sidebar-heading d-flex justify-content-between align-items-center px-3 text-muted menu-title"
					      		    th:id="|${menuBsVO.menuId}MgTitle|">
					       		   	<span th:text="${menuBsVO.menuNm}"></span>
						       		<a class="d-flex align-items-center text-muted">
						         		<span th:id="|${menuBsVO.menuId}MgTitleUp|" data-feather="chevron-up"></span>
						         		<span th:id="|${menuBsVO.menuId}MgTitleDown|" data-feather="chevron-down"></span>
						       		</a>
					      		</h5>
					      		
					    	</div>
					    	<div data-parent="#sideBarMenu"
					    	     th:id="|${menuBsVO.menuId}MgBody|" class="collapse">
					      		<div class="card-body menu-body">
	<th:block th:each="menuDtVO : ${menuTree.menuDt}">
		<th:block th:if="${#strings.equals(menuBsVO.menuId, menuDtVO.hrMenuId)}">
					        		<div class="nav-item col-12"
					        		     th:id="|${menuDtVO.menuId}Mg|">
						             	<a class="nav-link">
											<span th:id="|${menuDtVO.menuId}MgIcon|"></span>
											<span th:text="${menuDtVO.menuNm}"></span>
					              		</a>
						           	</div>
		</th:block>
	</th:block>
					      		</div>
					    	</div>
					  	</div>
</th:block>
					</div>
         		</div>
			</th:block>
</body>
</html>

