		<!--================ START DEPT MODAL START ================-->
				<div class="modal fade" id="modalDepartment" tabindex="-1" role="dialog" aria-hidden="true">
				 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				    	<div class="modal-content">
				      		<div class="modal-header">
				        		<h5 class="modal-title">부서 선택</h5>
				        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          			<span aria-hidden="true">&times;</span>
				        		</button>
				      		</div>
				      		<div class="modal-body">
				      			<div class="card">
								  	<h5 class="card-header">부서 목록</h5>
								  	<div class="card-body">
								  		<table class="table table-sm table-hover table-bordered" id="tableDepartment">
											<thead class="table-light">
												<tr>
													<th class="text-center">No</th>
													<th class="text-center">부서번호</th>
													<th class="text-center">부서명</th>
													<th class="text-center">위치번호</th>
													<th class="text-center">도시명</th>
													<th class="text-center">관리자아이디</th>
													<th class="text-center">관리자명</th>
												</tr>
											</thead>
										</table>
								  	</div>
								</div>
				      		</div>
					      	<div class="modal-footer">
					        	<button type="button" class="btn btn-secondary" onclick="fnNotChocDept()">선택안함</button>
					        	<button type="button" class="btn btn-primary" onclick="fnChocDept()">선택</button>
					      	</div>
				    	</div>
				  	</div>
				</div>
				<script th:inline="javascript">
				
					var modalDeptNoObj = '';
					var modalDeptNmObj = '';
						
					$(document).ready(function() {
						$('#tableDepartment').on('click', 'tbody tr', function() {
							var data = $('#tableDepartment').dataTable().fnGetData(this);
							if(StringUtils.isEmpty(data)) {
								return;
							}
							
							if(DataTableUtils.isSeleted('#tableDepartment', this)) {
								return;
							}
						});
					});
					// 조회
					function fnGetMgrDept(noObj, nmObj) {
						modalDeptNoObj = noObj;
						modalDeptNmObj = nmObj;
						
						DataTableUtils.get({
							tableId : "#tableDepartment",
							url : "/company/departments" + AjaxUtils.SEL,
							columns: [
					            { "data": "rowNo"         , "class": "text-center"},
					            { "data": "departmentId"  , "class": "text-center"},
					            { "data": "departmentName", "class": "text-left"  },
					            { "data": "locationId"    , "class": "text-center", "visible": false},
					            { "data": "locationName"  , "class": "text-left"  , "visible": false},
					            { "data": "managerId"     , "class": "text-center", "visible": false},
					            { "data": "managerName"   , "class": "text-left"  }
					        ]
						});
					}
					// 선택
					function fnChocDept() {
						var data = $('#tableDepartment').dataTable().fnGetData('#tableDepartment .selected');
						if(StringUtils.isEmpty(data)) {
							return alert("부서를 선택해주세요.");;
						}
						
						var nm = data.departmentName;
						var no = data.departmentId;
						
						var message =  nm + "(" +no+ ")";
						    message += "부서 선택하시겠습니까?";
						if(confirm(message)) {
							// 부서ID/명
							// alert("사원 번호 : "+ empId + ", 사원 명 : " + empName);
							$(modalDeptNoObj).val(no);
							$(modalDeptNmObj).val(nm);
							$('#modalDepartment').modal('hide');
						}
					}
					// 선택 안함
					function fnNotChocDept() {
						// 부서ID/명
						$(modalDeptNoObj).val("");
						$(modalDeptNmObj).val("");
						$('#modalDepartment').modal('hide'); 
					}
				</script>
		<!--================ END DEPT MODAL END ================-->