<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hjho.prj.prct.biz.main.mapper.LoginMapper">

    <select id = "idCheck" 
            parameterType = "hjho.prj.prct.biz.main.model.LoginPVO" 
            resultType    = "int">
        /* ID 검증 */
        SELECT COUNT(*) AS id_cnt
          FROM practice.sys_mgr
         WHERE mgr_id = #{userId, jdbcType=VARCHAR} 
    </select>
    
    <select id = "pwCheck" 
            parameterType = "hjho.prj.prct.biz.main.model.LoginPVO" 
            resultType    = "int">
        /* PW 검증 */
        SELECT COUNT(*) AS pw_cnt
          FROM practice.sys_mgr
         WHERE mgr_id = #{userId, jdbcType=VARCHAR} 
           AND mgr_pw = #{userPw, jdbcType=VARCHAR} 
    </select>
    
    <select id = "loginProc" 
            parameterType = "hjho.prj.prct.biz.main.model.LoginPVO" 
            resultType    = "hjho.prj.prct.biz.main.model.MgrInfoVO">
        /* LOGIN 검증 */
        SELECT grp.mgr_grp_id 
             , grp.mgr_grp_nm
             , mgr.mgr_id 
             , mgr.mgr_nm 
             , mgr.sys_mgr_stat_cd 
             , rol.apit_dtm 
             , rol.expr_dtm  
          FROM (SELECT in_mgr.mgr_id 
                     , in_mgr.mgr_nm 
                     , in_mgr.sys_mgr_stat_cd 
                  FROM practice.sys_mgr in_mgr
                 WHERE in_mgr.mgr_id = #{userId, jdbcType=VARCHAR}
                   AND in_mgr.mgr_pw = #{userPw, jdbcType=VARCHAR}
                   AND in_mgr.sys_mgr_stat_cd IN (SELECT cd_val 
                                            FROM practice.sys_comm_cd_bs bs 
                                           INNER JOIN practice.sys_comm_cd_dt dt
                                              ON bs.comm_cd_id = dt.comm_cd_id
                                           WHERE bs.use_yn      = 'Y'
                                             AND dt.use_yn      = 'Y'
                                             AND dt.comm_cd_id  = 'SYS_MGR_STAT_CD'
                                             AND dt.addt_cd_val = 'Y')
               ) mgr
         INNER JOIN practice.sys_mgr_role rol
            ON mgr.mgr_id     = rol.mgr_id 
         INNER JOIN practice.sys_mgr_grp grp
            ON rol.mgr_grp_id = grp.mgr_grp_id
         WHERE rol.apit_dtm <![CDATA[<=]]> TO_CHAR(SYSDATE, 'yyyy-mm-dd hh24:mi:ss')
           AND rol.expr_dtm <![CDATA[> ]]> TO_CHAR(SYSDATE, 'yyyy-mm-dd hh24:mi:ss')
           AND rol.use_yn     =  'Y'
           AND grp.use_yn     =  'Y'
       <if test='mgrGrpId != null and mgrGrpId != ""'>
           AND grp.mgr_grp_id = #{mgrGrpId, jdbcType=VARCHAR}
       </if>
    </select>
    
</mapper> 