<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hjho.prj.prct.biz.main.mapper.LoginMapper">

    <select id = "idCheck" 
            parameterType = "hjho.prj.prct.biz.main.model.LoginPVO" 
            resultType    = "int">
        /* ID 검증 */
        SELECT COUNT(*) AS id_cnt
          FROM (
                SELECT '20220001' as user_id
                  FROM DUAL
               )
         WHERE user_id = #{userId, jdbcType=VARCHAR} 
    </select>
    
    <select id = "loginProc" 
            parameterType = "hjho.prj.prct.biz.main.model.LoginPVO" 
            resultType    = "hjho.prj.prct.biz.main.model.LoginRVO">
        /* LOGIN 검증 */
        SELECT * 
          FROM (
                SELECT '20220001' as user_id
                     , 'a123456789' as user_pw
                     , '홍길동' as user_nm
                  FROM DUAL
               )
         WHERE user_id = #{userId, jdbcType=VARCHAR} 
           AND user_pw = #{userPw, jdbcType=VARCHAR}
    </select>
    
</mapper> 