<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hjho.prj.prct.biz.main.mapper.LoginMapper">

    <select id = "idCheck" 
            parameterType = "hjho.prj.prct.biz.main.model.LoginPVO" 
            resultType    = "int">
        /* ID 검증 */
        SELECT COUNT(*) AS id_cnt
          FROM (
                SELECT '20220001' as mgr_id FROM DUAL
          UNION ALL
                SELECT '20220002' as mgr_id FROM DUAL
               )
         WHERE mgr_id = #{userId, jdbcType=VARCHAR} 
    </select>
    
    <select id = "loginProc" 
            parameterType = "hjho.prj.prct.biz.main.model.LoginPVO" 
            resultType    = "hjho.prj.prct.biz.main.model.MgrInfoVO">
        /* LOGIN 검증 */
        SELECT * 
          FROM (
                SELECT '20220001' as mgr_id, 'a123456789' as mgr_pw, '테스터1' as mgr_nm, 'SUPER' as mgr_grp_id FROM DUAL
          UNION ALL
                SELECT '20220002' as mgr_id, 'a123456789' as mgr_pw, '테스터2' as mgr_nm, 'LVEL1' as mgr_grp_id  FROM DUAL
               )
         WHERE mgr_id = #{userId, jdbcType=VARCHAR} 
           AND mgr_pw = #{userPw, jdbcType=VARCHAR}
    </select>
    
</mapper> 