<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hjho.prj.prct.biz.mgr.mapper.MgrEmpMgMapper">
	
    <sql id="order-mgr-emp">
        ORDER BY
        <choose>
            <when test='sortCol == 0'>employee_id</when>
            <when test='sortCol == 1'>employee_id</when>
            <when test='sortCol == 2'>employee_name</when>
            <when test='sortCol == 3'>hire_date</when>
            <when test='sortCol == 4'>department_name</when>
            <when test='sortCol == 5'>job_title</when>
            <when test='sortCol == 6'>salary</when>
            <otherwise>employee_id</otherwise>
        </choose>
        <if test='sortType == "asc"'> asc</if>
        <if test='sortType == "desc"'> desc</if>
        , employee_id asc
    </sql>
	
    <select id = "getMgrEmp" 
            parameterType = "hjho.prj.prct.biz.mgr.model.MgrEmpMgPagingPVO" 
            resultType    = "hjho.prj.prct.biz.mgr.model.MgrEmpMgPagingRVO">
        /* 관리자 사원 관리 > 조회 */
        <include refid="common.sql.page-head"/>
        SELECT employee_id 
             , first_name 
             , last_name 
             , first_name||' '||last_name AS employee_name
             , email 
             , phone_number 
             , hire_date 
             , job_id 
             , (SELECT j.job_title 
                  FROM hr.jobs j 
                 WHERE j.job_id = emp.job_id)                  AS job_title 
             , salary 
             , commission_pct 
             , manager_id 
             , (SELECT e.first_name||' '||e.last_name
                  FROM hr.employees e
                 WHERE e.employee_id = emp.manager_id)        AS manager_name
             , department_id 
             , (SELECT d.department_name 
                  FROM hr.departments d 
                 WHERE d.department_id = emp.department_id)   AS department_name
          FROM hr.employees emp
        <where>
          <if test='departmentId != null and departmentId != ""'>
           AND department_id = #{departmentId, jdbcType=NUMERIC}
          </if>
          <if test='jobId != null and jobId != ""'>
           AND job_id        = #{jobId       , jdbcType=VARCHAR}
          </if>
        </where>
    <include refid="hjho.prj.prct.biz.mgr.mapper.MgrEmpMgMapper.order-mgr-emp"/>
    <include refid="common.sql.page-foot"/>
    </select>
    
    <select id="inrqMgrEmp" parameterType="long" resultType="hjho.prj.prct.biz.mgr.model.MgrEmpMgVO">
        SELECT employee_id 
             , first_name 
             , last_name 
             , email 
             , phone_number 
             , hire_date 
             , job_id 
             , salary 
             , commission_pct 
             , manager_id 
             , department_id 
          FROM hr.employees
         WHERE employee_id = #{employeeId, jdbcType=NUMERIC}
    </select>
    
    <insert id="postMgrEmp" parameterType="hjho.prj.prct.biz.mgr.model.MgrEmpMgVO">
        /* 관리자 사원 관리 > 등록 */
        INSERT INTO hr.employees (
                    employee_id
                  , first_name
                  , last_name
                  , email
                  , phone_number
                  , hire_date
                  , job_id
                  , salary
                  , commission_pct
                  , manager_id
                  , department_id
         ) VALUES ( 
                    hr.employees_seq.NEXTVAL
                  , #{firstName    , jdbcType=VARCHAR}
                  , #{lastName     , jdbcType=VARCHAR}
                  , #{email        , jdbcType=VARCHAR}
                  , #{phoneNumber  , jdbcType=VARCHAR}
                  , TO_DATE(#{hireDate, jdbcType=VARCHAR}, 'yyyy-MM-dd hh24:mi:ss')
                  , #{jobId        , jdbcType=VARCHAR}
                  , #{salary       , jdbcType=NUMERIC}
                  , #{commissionPct, jdbcType=NUMERIC}
                  , #{managerId    , jdbcType=NUMERIC}
                  , #{departmentId , jdbcType=NUMERIC}
         )
    </insert>
    
    <update id="putMgrEmp" parameterType="hjho.prj.prct.biz.mgr.model.MgrEmpMgVO">
        /* 관리자 사원 관리 > 수정 */
        UPDATE hr.employees
           SET first_name     = #{firstName    , jdbcType=VARCHAR}
             , last_name      = #{lastName     , jdbcType=VARCHAR}
             , email          = #{email        , jdbcType=VARCHAR}
             , phone_number   = #{phoneNumber  , jdbcType=VARCHAR}
       <if test='jobId != null or departmentId != null'>
           <if test='jobId != null'>
             , job_id         = #{jobId        , jdbcType=VARCHAR}
           </if>
           <if test='departmentId != null'>
             , department_id  = #{departmentId , jdbcType=NUMERIC}
           </if>
             , hire_date      = SYSDATE
       </if>
             , salary         = #{salary       , jdbcType=NUMERIC}
             , commission_pct = #{commissionPct, jdbcType=NUMERIC}
             , manager_id     = #{managerId    , jdbcType=NUMERIC}
         WHERE employee_id    = #{employeeId   , jdbcType=NUMERIC}
    </update>
    
    <delete id="deleteMgrEmp" parameterType="hjho.prj.prct.biz.mgr.model.MgrEmpMgVO">
        /* 관리자 사원 관리 > 삭제 */
        DELETE 
          FROM hr.employees
         WHERE employee_id = #{employeeId, jdbcType=NUMERIC}
    </delete>
    
    <select id="pkCheck" parameterType="hjho.prj.prct.biz.mgr.model.MgrEmpMgVO" resultType="int">
        /* 관리자 사원 관리 > PK */
        SELECT COUNT(*) AS cnt
          FROM hr.employees
         WHERE employee_id = #{employeeId, jdbcType=NUMERIC} 
    </select>
    
    <select id="emailCheck" parameterType="hjho.prj.prct.biz.mgr.model.MgrEmpMgVO" resultType="int">
        /* 관리자 사원 관리 > Email Check */
        SELECT COUNT(*) AS cnt
          FROM hr.employees
         WHERE email = #{email, jdbcType=VARCHAR} 
    </select>
    
    <select id="empDelJobHsCheck" parameterType="hjho.prj.prct.biz.mgr.model.MgrEmpMgVO" resultType="int">
        /* 관리자 사원 관리 > 사원 삭제 Job History Data Check */
        SELECT COUNT(*) AS cnt
          FROM hr.job_history
         WHERE employee_id = #{employeeId, jdbcType=NUMERIC} 
    </select>
    
</mapper> 